<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title – приложение ASP.NET</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>

    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <script type="text/javascript" src="~/Scripts/QScripts/date.js"></script>

    <link href="~/Content/Styles/CommentsBlock.css" rel="stylesheet" />
    <link href="~/Content/Styles/SomeStyles.css" rel="stylesheet" />
    <link href="~/Content/Styles/BookItem.css" rel="stylesheet" />

    @using Microsoft.AspNet.Identity;

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Search", "Index", "Search")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Add Book", "CreateBook", "Book")</li>
                    }
                </ul>

                <a href="@Url.Action("Index", "Author", new { authorId = User.Identity.GetUserId() })">
                    <img class="img-circle" style="width:40px;" src="@Url.Action("GetAvatar", "Author", new { id = User.Identity.GetUserId()})" alt="Alternate Text" />
                </a>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css.map" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/QScripts/inputImageLoader.js"></script>


    <link href="~/Content/Styles/EditsBoostrapPicker.css" rel="stylesheet" />
    <link href="~/Content/Styles/SomeStyles.css" rel="stylesheet" />
    <link href="~/Content/Styles/Just.css" rel="stylesheet" />

</body>
</html>
